<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="static/style.css">
	<title>E-learning Application</title>
</head>

<body>
  <!-- navbar -->
	<nav class="navbar navbar-expand-lg bg-dark text-light navbar-dark py-3 fixed-top">
    <div class="container">
      <a href="#" class="navbar-brand">E-Learning Application</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="/dashboard" class="nav-link">Our Wages</a>
          </li>
          <li class="nav-item">
            <a href="#Ourstaff" class="nav-link">Our Staff</a>
          </li>
          <li class="nav-item">
            <a href="/register" class="nav-link">SignUp</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="#ContactUs" class="nav-link">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- showcase -->

  <section class="bg-dark p-5 text-light text-center text-sm-start">
    <div class="container p-5">
      <div class="d-sm-flex p-5 align-items-center justify-content-between">
        <div>
          <h1>
            Want to develop yourself by taking <span class="text-primary">Top Technology Courses?</span>
            <p class="lead py-4">
              Upskill for career advancement with the convenience and flexibility of our  e-learning application .  Why wait! Start your journey today.  You have to sign up and login to be able to navigate thru all the pages in this website. Do enjoy Yourself.
            </p>
            <a href="#Ourcourses">
              <button class="btn btn-primary btn-lg text-capitalize">
                Okay, Let's Go!
              </button>
            </a>
          </h1>
        </div>
        <img class="img-fluid w-50" src="img/bussiness-man.png" alt="">
      </div>
    </div>
  </section>



  <!-- staff boxes-->
  <section class="text-light p-4" id="Ourcourses">
    <div class="container">
      <div class="row text-center g-5">
        <div class="p-3 text-dark">
          <h1 class="pt-3">Our Top Tech Courses</h1>
          <p>All our tutors are certified and have over 10 years of experience in these fields</p>
        </div>
        <div class="col-md">
          <div class="card bg-dark text-light">
            <div class="card-body">
              <img class="card-img" src="/img/bussiness-man.png" alt="">
              <div class="card-title">
                <h3>Cloud Computing </h3>
              </div>
              <p class="card-text lead">
                Principal Engineer
              </p>
              <p>Servers, databases, networking, storage in the Cloud</p>

            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-dark text-light">
            <div class="card-body">
              <img class="card-img" src="/img/man.png" alt="">
              <div class="card-title">
                <h3>Data Analytics</h3>
              </div>
              <p class="card-text lead">
                Principal Engineer
              </p>
              <p>Data mining, predictive analytics, and machine learning. </p>
        
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-dark text-light">
            <div class="card-body">
              <img class="card-img" src="/img/woman (1).png" alt="">
              <div class="card-title">
                <h3>Machine Learning</h3>
              </div>
              <p class="card-text lead">
                Principal Engineer
              </p>
              <p> Natural language processing, image and speech recognition, fraud detection, and recommendation systems</p>

        
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-dark text-light">
            <div class="card-body">
              <img class="card-img" src="/img/woman (1).png" alt="">
              <div class="card-title">
                <h3>Software Engineering</h3>
              </div>
              <p class="card-text lead">
                Principal Engineer
              </p>
              <p>Design, development, testing, deployment, and Software Maintenance</p>
        
        
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- staff -->

  <!-- newsletter -->
  <section class="bg-primary text-light p-5">
    <div>
      <div class="container">
        <div class="d-sm-flex text-dark align-items-center justify-content-between">
          <h3 class="py-4">SignUp For Our Newsletter</h3>
          <div class="input-group mb-3 w-sm-50  formss">
            <input type="text" class="form-control" placeholder="Enter Email" aria-label="Recipient's username"
              aria-describedby="button-addon2">
            <button class="btn btn-lg btn-dark" type="button" id="button-addon2">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- newsletter -->

  <!-- contact us -->

<section class="p-5">
  <div class="container-fluid" id="ContactUs">
    <div class="row text-center">
      <h3 class="p-4">Contact Us</h3>
      <div class="col-md p-3">
        
        <a href="https://www.linkedin.com/in/charles-ezema-2442b465/" class="paddings">
          <div>
            <i class="bi bi-linkedin"></i>
          </div>
          
          <span>LINKEDin</span></a>
      </div>
      <div class="col-md p-3">
        
        <a href="https://github.com/iykecharles316" class="paddings">
          <div>
            <i class="bi bi-github"></i>
          </div>
          
          <span>GITHUB</span></a>
      </div>
      <div class="col-md p-3">
        
        <a href="https://twitter.com/iykecharles316" class="paddings">
          <div>
            <i class="bi bi-twitter"></i>
          </div>
          
          <span>TWITTER</span></a>
      </div>
      <div class="col-md p-3">
        
        <a href="https://www.instagram.com/software_developer316/" class="paddings">
          <div>
            <i class="bi bi-instagram"></i>
          </div>
          
          <span>INSTAGRAM</span></a>
      </div>
      <div class="col-md p-3">
        
        <a href="https://web.facebook.com/charles.ezema.3" class="paddings">
          <div>
            <i class="bi bi-facebook"></i>
          </div>
          
          <span>FACEBOOK</span></a>
      </div>

    <div class="container-fluid p-5">
      <div class="row text-center padding">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <hr>
          <h5 class="address">Our Addresses</h5>
          <hr>
          <h5>91b Oniru Road, Leicester</h5>
          <h5>United Kingdom</h5>
          <h5>Iykecharles@yahoo.com</h5>
          <h5>+44-7361109063</h5>
         
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <hr>
          <h5 class="address">Our Working hours</h5>
          <hr>
          <h5>Mondays-Fridays: 8am-4pm</h5>
          <h5>Saturdays: 10am-2pm</h5>
          <h5>Sundays: closed</h5>
          
        
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <hr>
          <h5 class="address">Service Area</h5>
          <hr>
          <h5>London</h5>
          <h5>Abuja</h5>
          <h5>Portharcourt</h5>
          <h5>Ghana</h5>
        
        </div>
        
      </div>
    </div>

  </div>
</section>

  <!-- contact us -->

  <!-- footnote -->

  <footer class="bg-dark p-5 text-center position-relative text-light">
    <div class="container">
      <a href="" class="position-absolute bottom-0 end-0 h1">
        <i class="bi bi-arrow-up-circle h1"></i>
      </a>
      <p class="lead">
        Copyright &copy; E-learningApp
      </p>
    </div>
  </footer>


  <!-- footnote -->






	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>

	
</body>

</html>