<!DOCTYPE html>
<html>

<head>
  <title>Create a new topic</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <style>
    body {
      background-color: #f8f9fa;
    }

    h1 {
      color: #1abc9c;
    }

    .form-control {
      border-color: #1abc9c;
      border-radius: 0;
    }

    .form-control:focus {
      box-shadow: none;
      border-color: #28a745;
    }

    .btn-primary {
      background-color: #1abc9c;
      border-color: #1abc9c;
      border-radius: 0;
    }

    .btn-primary:hover {
      background-color: #28a745;
      border-color: #28a745;
    }
  </style>
</head>

<body>
<!-- navbar -->
    <nav class="navbar navbar-expand-md bg-dark text-light navbar-dark py-3 fixed-top position-absolute w-100 mb-5">
        <div class="container">
            <a href="/" class="navbar-brand">Home</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    
                    
                    <li class="nav-item">
                        <a href="/admin" class="nav-link">Admin Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="/question" class="nav-link">Question Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a href="/checkresult" class="nav-link">check Result</a>
                    </li>
                    
                    
                    
                </ul>
            </div>
        </div>
    </nav>
    <div class="mt-5">.</div>
  <div class="container mt-5">
    <h3 class="text-center mt-5 mb-4">Create A New Question</h3>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form action="/insertedquestion" method="post">
          <input type="hidden" name="questionID" value="{{.QuestionID}}">
          <div class="form-group">
            <label for="topicsName">Topics Name</label>
            <select class="form-control" id="topic-select" name="topicsName" required>
              <option value="" disabled selected>Select a topic</option>
              <option value="Computer Science">Computer Science</option>
              <option value="Artificial Intelligence">Artificial Intelligence</option>
              <option value="Data Analytics">Data Analytics</option>
              <option value="Coding">Coding</option>
            </select>
          </div>
          <div class="form-group">
            <label for="question_prompt">Question Prompt</label>
            <textarea class="form-control" id="topic-text" name="question_prompt" rows="5" required></textarea>
          </div>
          <div class="form-group">
            <label for="option_a">Option A</label>
            <textarea class="form-control" id="topic-text" name="option_a" rows="5" required></textarea>
          </div>
          <div class="form-group">
            <label for="option_b">Option B</label>
            <textarea class="form-control" id="topic-text" name="option_b" rows="5" required></textarea>
          </div>
          <div class="form-group">
            <label for="option_c">Option C</label>
            <textarea class="form-control" id="topic-text" name="option_c" rows="5" required></textarea>
          </div>
          <div class="form-group">
            <label for="option_d">Option D</label>
            <textarea class="form-control" id="topic-text" name="option_d" rows="5" required></textarea>
          </div>
          <div class="form-group">
            <label for="correct_option">Correct Option</label>
            <select class="form-control" id="correct_option" name="correct_option" required>
              <option value="1">Option A</option>
              <option value="2">Option B</option>
              <option value="3">Option C</option>
              <option value="4">Option D</option>
            </select>
          </div>
          

          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>