<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Subject Dashboard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<style>
		.card-title {
			font-size: 24px;
			font-weight: bold;
		}
	</style>
</head>

<body class="bg-dark">
	<!-- navbar -->
    <nav class="navbar navbar-expand-md bg-dark text-light navbar-dark py-3 fixed-top position-absolute w-100">
        <div class="container">
            <a href="/" class="navbar-brand">Home</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    
                    
                    <li class="nav-item">
                        <a href="/admin" class="nav-link">Admin Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a href="/checkresult" class="nav-link">check Result</a>
                    </li>
					<li class="nav-item">
                        <a href="/insertquestion" class="nav-link btn btn-success">Create New Question</a>
                    </li>
                    
                    
                    
                </ul>
            </div>
        </div>
    </nav>
    <div class="pb-3"></div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"></script>

    <!-- Live server -->
    <script src="http://localhost:35729/livereload.js"></script>
    
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<h1 class="text-white">Questions Dashboard</h1>
			</div>
		</div>
		{{range .}}
		<div class="card mt-3">
			<div class="card-header bg-primary text-white fw-bold fs-4">{{.TopicsName}}</div>
			<div class="card-body">
				<h3 class="card-title">{{.QuestionPrompt}}</h3>
				<p class="card-text">1. {{.OptionA}}</p>
				<p class="card-text">2. {{.OptionB}}</p>
				<p class="card-text">3. {{.OptionC}}</p>
				<p class="card-text">4. {{.OptionD}}</p>
				<!--
				<p class="card-text">{{.CorrectOption}}</p>
				-->
				<div class="row">
					<!--
					<div class="col-sm-6 text-right">
						<p class="card-text"><small class="text-muted">Date:</small> {{.CreatedAt}}</p>
					</div>
					-->
				</div>
				<div class="text-right">
					<a class="btn btn-success" href="/updatequestion?questions_id={{.QuestionID}}">Update</a>
					<a class="btn btn-danger" href="/deletequestion?questions_id={{.QuestionID}}" onclick="showMessage()">Delete</a>
				</div>
			</div>
		</div>
		{{end}}
	</div>
	<script>
    function showMessage() {
        alert("Question Deleted.");
    }
	</script>
</body>

</html>


